body {
    background-color: #ebe6ea;
    font-size: 16px;
}

h1 {
    color: #3f8880;
    font-size: 35px;
    text-align: center;
}

div {
    background-color: #fff;
    
}

p {
    text-align: center;   
    font-size: 20px;
}